@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #c2a974;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%2366597a' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
}

.header {
    margin: 0 0 10px 0;
    text-align: center;
    background-color: #335B96;
    top: 0;
    padding: 20px;
    box-shadow: 3px 4px 9px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 4px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 9px -1px rgba(0,0,0,0.75);
    color: antiquewhite;
}

.formContainer {
    width: 250px;
    border: 1px solid black;    
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #335B96;
    color: antiquewhite;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 4px 9px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 4px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 9px -1px rgba(0,0,0,0.75);
}

form > button {
    width: 80px;
    height: 25px;
    font-family: 'Libre Baskerville', serif;
}

input {
    margin-bottom: 15px;
    background-color: gray;
    border-radius: 10px;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.bookshelf {
    width: auto;
    border: 10px solid #966F33;
    background-color: #335B96;
    margin: 0px 50px;
    height: auto;
    min-height: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 3px 4px 9px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 4px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 9px -1px rgba(0,0,0,0.75);
}

.book {
    margin: 5px 10px 0px 10px;
    border: 1px solid white;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    min-width: 100px;
    text-align: center;
    padding: 10px 15px;
    box-shadow: 5px 0px 9px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 0px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 0px 9px -1px rgba(0,0,0,0.75);
    
}

button {
    display: block;
    margin: 10px auto 0px auto;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 0px 9px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 0px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 0px 9px -1px rgba(0,0,0,0.75);
    cursor: pointer;
}

button:hover {
    background-color: darkgrey;
}

div > h1 {
    margin: 5px auto;
}

div > p {
    margin: 5px auto;
}

div > p:nth-child(3) {
    margin-bottom: 25px;
}